# Datasets (Bo qua vi qua nang, dung Google Drive neu muon chia se anh)
fruits-360/
Final_Fruit_Dataset_*/
YOLO_*/
*.zip
*.tar
*.gz

# Training runs and outputs
runs/
runs_cls/
# Cho phep dua file weights va log vao runs_od25
!runs_od25/
!runs_od25/**/weights/best.pt
!runs_od25/**/od25.yaml

# Python caches
__pycache__/
*.py[cod]
*$py.class
*.so

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
